 p {
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 32px;
    font-size: 18px;
    width: 360px;
    font-weight: lighter;
  }
  
  .planet-navbar{
    margin-left: auto;
    margin-right: 25%;
    margin-top: -50px;
    display: flex;
  }
  
  .planet-navbar-item {
    text-decoration: none;
    margin-right: 25px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: lighter;
    color: #D0D6F9;
    font-size: 16px;
    letter-spacing: 4.75px;
    text-transform: uppercase;
    line-height: 2;
  
  }
  
  .planet-navbar-item:hover {
    color: white;
    cursor: pointer;
  }